@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #adadad; ;
}

a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#131921;
    padding: 10px 20px;
    color: #fff;
}
.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font: size 14px ;
    color: #c4c4c4;
}
 .nav-country h1{
    color: white;
    font-size: 12px;

 }
 .nav-serach{
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
 }
 .nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
 }
 .nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
 }
 .search-icon{
    max-width: 42px;
    padding: 8px;
    background: #ffff;
    border-radius: 0 4px  4px  0;
 }
 .nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight:600 ;
    margin-left: 15px;
 }
 .nav-text{
    margin-left: 15px;

 }
 .nav-text p{
    font-size: 10px;
 }
 .nav-text h1{
    font-size:12px ;
 }
 .nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 12px;
 }
 .nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px  20px;
    background: #232f3e;
    color: white;
    font-size: 14px;
 }
 .nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
 }
 .headr-slider ul{
    display: flex;
    overflow: hidden;

 }
 .header-img{
    width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
 }
 .headr-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh  1vw;
    background: #ffffff4f;
    color: #0000007d;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
 }
 .control_next{
    right: 0;
 }
 .box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    justify-content: space-between;
    margin: 18px  28px;

 }
 .box-col{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 13px 18px;
    background: #fff;
    max-width: 22%;
    min-height: 200px;
    z-index: 1;
 }
 .box-col a{
   font-size: 18px;
   color: blue;
   font-weight: 500;
 }
 .header-box{
    margin-top: -18vw;
 }
 .header-box1{
   margin-top: -48;
 }

 .productslider{
 
    background: #fff;
    margin: 0  28px;
    padding: 20px;
    margin-bottom: 14px;

 }

 .productslider .products{
    display: flex;
    overflow-x: auto;
    gap: 18px;
    margin-top: 10px;
 
 }
 .productslider .products img{
    max-width: 220px;
    max-height:250px;
 
 }
 .productslider .products::-webkit-scrollbar{
   display: none;
}

.product-slider-with-price{
   background:#fff;
   margin: 0 30px;
   padding: 20px;
   margin-bottom: 15px;
}

.product-slider-with-price .products{
   display: flex;
   overflow-x: auto;
   gap: 10px;
   margin-top: 10px;
}
.product-slider-with-price .products::-webkit-scrollbar{
   display: none;
}
 .product-card{
   display: flex;
   flex-direction: column;
   justify-content: end;
   min-width: 200px;
   background: #fbfbfb;
 }
 .product-card img{
  width: 100px;
  margin: 0 50px;

 }
 .product-offer p{
   background: #be0b3b; 
   color: white;
   padding: 2px  5px;
   display: inline-block;
   border-radius: 2px;
   margin: 8px 0;
   font-size: 12px;
 }

 .product-offer span{
   color: #be0b3b;
   font-weight: 100;
  
   
 }
 .product-price{
 
   color: gray;
   font-size: 13px;
 }
 .product-card h4{
   color: #525252;
   font-size:15px ;
   font-weight: 100;
 
  }

  footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   background: #131921;
   padding:10px;
  }